#echat_menu{
    width: 20%;
    /* height: 1.7em; */
    text-align: center;
    color: currentColor;
    position: fixed;
    bottom: 0;
}

#echat_menu td button{
	display: inline-block;
    width: 100%;
	height: 1.7em;
	background-color:#EAEAEA;
}

/*子菜单*/
#childMenu{
	width: 15%;
	min-width:8em;
	border:1px solid #C0C0C0;
	position: fixed;
    bottom: 2.2em;
	margin-left:5%;
	display:none;
}
#childMenu li{
    height: 1.8em;
	border:0;
    border-top: 1px solid #F0F0F0;
    line-height: 1.8em;
    padding-left: 1em;
}

/*添加好友分组*/
#addGroup{
	width: 20%;
    height: 8em;
	position: fixed;
	border:1px solid #D5D5D5;
    bottom: 2em;
	background-color:#F9F9F9;
	display:none;
}
#addGroup P{
	padding-top:0.3em;
	padding-left:10%;
}
#addGroup ul li{
	border:0;
    margin-top: 0.8em;
}

#addGroup ul li input[name=groupName]{
	width:80%;
	height:1.6em;
	display:inline-block;
	margin-left:10%;
}
#addGroup ul li input[name=cancleAddGroup],#addGroup ul li input[name=submitAddGroup]{
	width:30%;
	height:1.6em;
	display:inline-block;
	margin-left:13%;
}


/*修改好友分组名称*/
#alterGroup{
	width: 20%;
    height: 8em;
	position: fixed;
	border:1px solid #D5D5D5;
    bottom: 2em;
	background-color:#F9F9F9;
	display:none;
}
#alterGroup P{
	padding-top:0.3em;
	padding-left:10%;
}
#alterGroup ul li{
	border:0;
    margin-top: 0.8em;
}

#alterGroup ul li input[name=groupName]{
	width:80%;
	height:1.6em;
	display:inline-block;
	margin-left:10%;
}
#alterGroup ul li input[name=cancleAlterGroup],#alterGroup ul li input[name=submitAlterGroup]{
	width:30%;
	height:1.6em;
	display:inline-block;
	margin-left:13%;
}



/*右键菜单*/
#rightMenu{
	border:1px solid #C0C0C0;
	position: absolute;
	background-color:#FFFFFF;
	display:none;
}
#rightMenu li{
	width:10em;
    height: 1.8em;
	border:0;
    border-top: 1px solid #F0F0F0;
    line-height: 1.8em;
    padding-left: 1em;
}
#rightMenu .child{
	width: 11em;
	max-height:30em;
    border: 1px solid #C0C0C0;
    position: fixed;
    margin-left: 10em;
    margin-top: -1.8em;
	overflow-y: overlay;
	display:none;
}


/* 展示查找好的视图 */
#findFriends,
#lookProfiles,
#serviceGuide,
#guideList
{
    width: 100%;
    height: 100%;
    border: 1px solid;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
	display:none;
    z-index: 999;
}
#findFriends div[name=content],
#lookProfiles div[name=content],
#serviceGuide div[name=content],
#guideList div[name=content]
{
	width:70%;
	max-width:44em;
	height:65%;
	border:1px solid #FFFFFF;
	margin:0 auto;
	margin-top:5%;
	background-color:#FFFFFF;
}

#findFriends div[name=shutDown],
#lookProfiles div[name=shutDown],
#serviceGuide div[name=shutDown],
#guideList div[name=shutDown]
{
	border: 1px solid red;
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.8em;
    text-align: center;
    color: #fff;
    background-color: red;
    float: right;
    margin-top: -0.5em;
    margin-right: -0.5em;
}

#findFriends [name=searchBox]{
	border: 1px solid #D5D5D5;
    width: 96%;
    margin: auto;
    margin-top: 2em;
    display: block;
	padding:1em 0 1em 0;
}

#findFriends ul[name=searchBox] li{
    display: inline-block;
    height: 2.2em;
    line-height: 2.2em;
    margin-left: 1em;
}

#findFriends ul[name=recomendFriends]{
	border: 1px solid #D5D5D5;
	padding-top:1em;
    width: 96%;
	height:60%;
    margin: auto;
    margin-top: 1em;
    display: block;
	overflow-y: scroll;
}

#findFriends li[name=selectFriend]{
	border: 1px solid #F6F6F6;
    display: inline-block;
	margin:0 0 1.2em 1%;
	padding:0.5em;
}

#findFriends li[name=selectFriend] div,#findFriends li[name=selectFriend] ul{
	display:inline-block;
	border:1px solid #FFFFFF;
}

#findFriends li[name=selectFriend] div{
	width:3.6em;
	height:3.7em;
	border:1px solid #F0F0F0;
    vertical-align: bottom;
}

#findFriends li[name=selectFriend] div img{
	width:100%;
	height:100%;
}

#findFriends li[name=nick]{
	display:block;
	height:1.8em;
	line-height:1em;
	border:1px solid #FFFFFF;
}

#findFriends li[name=lookProfiles],#findFriends li[name=addToFriends]{
	display:inline-block;
	height:1.5em;
	line-height:1.5em;
}

#findFriends li[name=selectFriend] a{
	color:red;
	display:inline-block;
	width:4em;
	text-align:center;
}
#findFriends li[name=addToFriends]{
	width:4em;
	text-align:center;
	border-radius:0.5em;
}
#findFriends li[name=addToFriends] input{
	border-radius: 0.3em;
	font-size:80%;
}

#findFriends ul[name=operArea] a{
	display: inline-block;
    float: right;
    margin-right: 5%;
    margin-top: 1em;
    border: 1px solid #F0F0F0;
    padding: 0.2em;
	color: currentColor;
}


/* 展示好友的资料视图 */
#lookProfiles form[name=editProfiles]{
    margin-top: 2em;
    border: 1px solid;
}
#lookProfiles div[name=addOption]{
	border: 0;
    height: 2em;
    line-height: 2em;
	margin-top:0.5em;
}
#lookProfiles div[name=addOption] button{
    color: currentColor;
    display: inline-block;
    float: right;
    margin-right: 2em;
}
#lookProfiles div[name=addOption] button[name=save],#lookProfiles div[name=addOption] button[name=edit]{
	display:none;
}

#lookProfiles ul[name=detail]{
	margin: auto;
    width: 80%;
    border: 1px solid　#FFFFFF;
}
#lookProfiles input,#lookProfiles select{
	background-color: transparent;
    border: 0;
    padding-left: 0.5em;
	appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
#lookProfiles ul[name=detail] li{
	width:40%;
    height: 2em;
	border: 0;
    margin: 0.5em;
    line-height: 2em;
	display: inline-block;
	
}

/*服务宝典视图*/
#serviceGuide form[name=editGuide]{
    margin-top: 2em;
    border: 1px solid　#ADADAD;
}
#serviceGuide div[name=addOption]{
	border: 0;
    height: 2em;
    line-height: 2em;
	margin-top:0.5em;
}
#serviceGuide div[name=addOption] button{
    color: currentColor;
    display: inline-block;
    float: right;
    margin-right: 2em;
}
#serviceGuide ul[name=detail]{
	margin: auto;
    width: 90%;
    border: 1px solid　#FFFFFF;
}
#serviceGuide ul[name=detail] li{
	width:100%;
	padding: 0.5em 0 0 0;
}
#serviceGuide ul[name=detail] iput{
	width: 50%;
}
#serviceGuide ul[name=detail] textarea{
	width: 100%;
	height:12em;
	margin:auto;
	resize: none;
}

/*服务宝典视图*/
#guideList form[name=searchGuid]{
    margin-top: 2em;
    border: 1px solid　#ADADAD;
}

#guideList ul[name=addFunc]{
	margin: auto;
    width: 90%;
    border: 1px solid　#FFFFFF;
}
#guideList ul[name=addFunc] a{
	display: inline-block;
    color: currentColor;
    float: right;
    margin-right: 1em;
    font-weight: 700;
}
#guideList ul[name=addFunc] li{
	width:100%;
	padding: 0.5em 0 0 0;
}
#guideList ul[name=addFunc] iput{
	width: 50%;
}
#guideList dl[name=showList]{
	border: 1px solid #D5D5D5;
    width: 90%;
    margin: auto;
	margin-top: inherit;
}
#guideList dl[name=showList] dt{
	height: 1.8em;
    border: 1px solid  #D5D5D5;
	border-left:0;
	border-right:0;
    line-height: 1.8em;
	background-color:#F0F8FF;
}
#guideList dl[name=showList] dd{
	padding: 0.2em 0 0.5em 0;
}
#guideList dt span{
	display:inline-block;
}
#guideList span[name=operOption]{
	float:right;
	margin-right:0.2em;
	display:none; 
}
#guideList span[name=operOption] a{
	color: blueviolet;
}
#guideList span[name=operOption] a:hover{
	color: darkolivegreen;
}
